body{
    background-color: #F0F8FF;
    color: #00008B;
}

h2{
    color:#DC143C ;
}

a:link{
    color: #DC143C;
}
#cimkep{
    vertical-align: middle;
    
}
table{
    vertical-align: middle;
    width: 400px;
}
#kep1{
   width: 230px 153px;
}